## Ignore everything because there are so many files/folders in this project that is it easy for
## the Docker context to become huge (and/or accidentally include src etc). Instead we white list.
*

## Allow files and folders with a pattern starting with !

!frontend-dist/**
!package*.json
!build/**
!src/favicon.ico
